body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li {
    position: relative;
}

.menu > ul > li > a {
    display: block;
    padding: 12px 20px;
    color: #fff;
    background-color: #3a3a3a;
    text-decoration: none;
    border-radius: 8px;
}

.menu > ul > li > a:hover {
    background-color: #4c86b6;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown li {
    border-bottom: 1px solid #666;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #3a3a3a;
}

.dropdown li a:hover {
    background-color: #4c86b6;;
}

.menu > ul > li:hover .dropdown {
    display: block;
}
