/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.parallax {
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#parallax-1 {
    background-image: url('https://images.pexels.com/photos/1229042/pexels-photo-1229042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

#parallax-2 {
    background-image: url('https://images.pexels.com/photos/1146134/pexels-photo-1146134.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.centered-message {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.centered-message h1 {
    font-size: 3rem;
}

.content-block {
    background-color: #000;
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block .message h2 {
    font-size: 2rem;
}
